<div class="container">
  <div class="row">
    <div class="col-md-5 col-md-offset-4 col-sm-10 col-sm-offset-2 col-xs-12">
      <form class="form-signin mg-btm" name="form" ng-submit="register(form)" novalidate>
        <h3 class="heading-desc">
          <button type="button" class="close pull-right" aria-hidden="true">×</button>
          Sign up to Survey Gorilla</h3>
        <div class="social-box">
          <div class="row mg-btm">
            <div class="col-md-12">
              <a href="#" class="btn btn-primary btn-block">
                <i class="icon-facebook"></i>    Login with Facebook
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <a href="#" class="btn btn-info btn-block" >
                <i class="icon-twitter"></i>    Login with Twitter
              </a>
            </div>
          </div>
        </div>
        <div class="main">
          <div class="form-group" ng-class="{'has-error': form.name.$pristine}">
            <input type="text" name="name" class="form-control" placeholder="Name" ng-model="user.name" required autofocus>
          </div>

          <div class="form-group" ng-class="{'has-error': form.email.$invalid && !form.email.$pristine}">
            <input type="email" name="email" class="form-control" placeholder="Email" ng-model="user.email" required >
          </div>

          <div class="form-group" ng-class="{'has-error': form.password.$invalid && !form.password.$pristine}">
            <input type="password" name="password" class="form-control" placeholder="Password" ng-model="user.password" required>
          </div>
          <span class="clearfix"></span>
        </div>
        <div class="login-footer">
          <div class="row">
            <div class="col-xs-12 col-md-12">
              <button type="submit" ng-disabled="form.$invalid" class="btn btn-large btn-register btn-block " >Create Account </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
